<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Christmas Countdown</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">

    <link rel="icon" href="https://image.flaticon.com/icons/png/512/3792/3792011.png" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/index.css">
    
</head>



<body>
    <div id="bg">
        <div id="top">
            <img src="https://cdn.pixabay.com/photo/2013/07/13/12/11/santa-claus-159357_960_720.png" alt="deneme">
            <h1>Christmas Countdown</h1>
        </div>

        <div id="bot">
            
            <div id="day" class="time">34 </div>
            <div id="hours" class="time">34</div>
            <div id="minut" class="time">1</div>
            <div id="second" class="time">1</div>
        </div>
    </div>


    <script src="/javascripts/index.js" ></script>
</body>

</html>